.container {
	background-color: rgb(38, 29, 29);
	display: flex;
	height: auto;
}

.logo {
	display: inline;
	border-radius: 15px;
    margin-top:5px;
}
.logo img{
	
	display: inline;
	height: 100px;
	width: 100px;
	border-radius: 15px;

}

.heading {
	margin: 0 auto;
	color:#e50914;
	font-family: 'Martel Sans', sans-serif;


}